<ul class="sbul">
    <li><a href="{% url 'base:home' %}">Home</a></li>
    <li><a href="{% url 'Dash_app:dashboard' %}" class="act">Dashboard</a></li>
    <li><a href="{% url 'Dash_app:dashboard' %}#products">Products</a></li>
    <li><a href="{% url 'Dash_app:dashboard' %}#services">Services</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'listings:wishlist' %}">Wishlist</a></li>
    <li><a href="{% url 'listings:listings' %}">My Listings</a></li>
    {% endif %}
    </ul>
    <div class="sbd"></div>
    <div class="sbsec">Account</div>
    <ul class="sbul">
    {% if user.is_authenticated %}
    <li><a href="{% url 'profile:profile' %}">Profile</a></li>
    {% else %}
    <li><a href="{% url 'auth:auth_view' %}">Log In / Sign Up</a></li>
    {% endif %}
    </ul>
    <div class="sbd"></div>
    <div class="sbsec">Info</div>
    <ul class="sbul">
    <li><a href="{% url 'base:help' %}">Help Center</a></li>
    <li><a href="{% url 'base:terms' %}">Terms of Service</a></li>
    <li><a href="{% url 'base:privacy' %}">Privacy Policy</a></li>
    </ul>
    <div class="sbd"></div>
    <ul class="sbul">
    {% if user.is_authenticated %}
    <li><a href="{% url 'auth:auth_view' %}" style="color:var(--red)">Log Out</a></li>
    {% else %}
    <li><a href="{% url 'auth:auth_view' %}" style="color:var(--a)">Get Started</a></li>
    {% endif %}
    </ul>