      <div class="mo" onclick="location.href='{% url 'listings:listings' %}'"><span class="moic">📦</span><div class="molb">Sell Product</div></div>
      <div class="mo" onclick="location.href='{% url 'auth:auth_view' %}'"><span class="moic">🔍</span><div class="molb">Request Item</div></div>
      <div class="mo" onclick="openBoost()"><span class="moic">🚀</span><div class="molb">Feature Listing</div></div>
      <div class="mo" onclick="location.href='{% url 'chat:chat' %}'"><span class="moic">💬</span><div class="molb">Arrange Meetup</div></div>