 <footer>
  <div class="footer-inner">
    <div class="footer-logo">PU-<span>Connect</span></div>
    <div class="footer-links">
      <a href="{% url 'base:home' %} ]">Home</a>
    <a href="{% url 'Dash_app:dashboard' %}">Dashboard</a>
      <a href="{% url 'base:about' %}">About</a>
      <a href="{% url 'base:safety' %}">Safety</a>
      <a href="{% url 'base:help' %}">Help Centre</a>
      <a href="{% url 'base:privacy' %}">Privacy</a>
      <a href="{% url 'base:terms' %}">Terms</a>
    </div>
    <div class="footer-copy">© 2026 PU-Connect. All rights reserved.</div>
  </div>
</footer>
